<div id="navbar">
  <div class="inner-navbar">
    <!-- <h1>Jeantet - Outil DAC-6</h1> -->
    <%= image_tag image_path('jeantet-associes-logo-white.png'), alt: "jeantet-logo", id: 'navbar-logo' %>
  </div>
</div>
