<div class="scaffold">
  <div class="center-scaffold">
      <h2 style="text-align: center;">Êtes-vous concerné?</h2>
      <div style="display: flex; justify-content: space-evenly; width: 50vw; margin: auto;">
      <h3>Savez vous si vous êtes concerné par la DAC-6</h3>
      <%= link_to "Commencer", new_main_form_path, class: 'home-button' %>
      </div>
  </div>
</div>

