#question-buttons-container {
  margin: 3vh 0;
  display: flex;
  justify-content: space-evenly;
}

.yes-no-container {
  width: 50%;
  text-align: center;
}

.question-buttons {
  transition: 0.5s ease;
  width: 30%;
  padding: 20px 80px;
  margin: 20px auto;
  text-align: center;
  cursor: pointer;
}
#button-yes {
  background-color: $j-turquoise-hover;
  &:hover {
    background-color: $j-turquoise;
  }
}
#button-no {
  background-color: $j-orange-hover;
  &:hover {
    background-color: $j-orange;
  }
}

#back-button {
  transition: 0.5s ease;
  width: 50%;
  text-align: center;
  padding: 1vh 2vw;
  background-color: $j-orange;
  margin: 1vh auto;
  cursor: pointer;
  &:hover {
    background-color: $j-orange-hover;
  }
}

#back-link {
  display: none;
}

