#question-card {
  width: 900px;
  background-color: rgba(112, 128, 180, 0.1);
  border-radius: 5px;
  // border: solid 1px $j-lightgrey;
  padding: 35px;
}

.main-question {
  text-align: center;
  font-weight: 300;
  font-size: 1.2rem;
}

.question-precisions {

}
