#start-button {
  // border: 1px solid $j-blue;
  // border-radius: 3px;
  padding: 20px 40px;
  transition: all ease 0.5s;
  background-color: $j-blue;
  cursor: pointer;
  color: $j-blue-hover;
  &:hover {
    background-color: $j-blue-hover;
  }
}
