#navbar {
  height: 60px;
  margin-top: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.inner-navbar {
  display: flex;
  height: 40px;
}

#navbar-logo {
  transition: 0.65s all ease;
  height: 40px;
  margin: 0 10px;
  &:hover {
    scale: 1.05;
  }
}
