#navbar {
  height: 150px;
  margin-top: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  color: $j-orange;
  transition: 0.65s all ease;
  text-align: center;
  border-bottom: 0px $j-blue solid;
  // background-color: rgba(144, 209, 212, 0.2);
  &:hover {
  border-bottom: 10px $j-blue solid;
    // background-color: rgba(144, 209, 212, 0.5)
  }
  &:visited {
    text-decoration: none;
  }
}
