$j-blue: #233C8C;
$j-blue-hover: #7080B4;
$j-turquoise: #55B9BE;
$j-turquoise-hover: #90D1D4;
$j-orange: #eb5f5f;
$j-orange-hover: #F29797;
$j-lightgrey: #EDEDED;
$j-grey: #B8B8B8;

$j-font: 'Raleway', sans-serif;
